{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mes Formulaires</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ajouter nouveau formulaire</li>
    </ol>
  </nav>
  <h2 class="mb-3">Ajouter nouveau formulaire</h2>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form.name|as_crispy_field }}
        {{ form.date_fin|as_crispy_field }}
        <button type="submit" class="btn btn-success">Sauvegarder</button>
        <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Ignorer</a>
      </form>
    </div>
  </div>
{% endblock %}
